.admin__intro {
    background-color: #ffffff;
    position: relative;
}
.admin__header {
    font-size: 50px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
.admin__intro::after {
    content: "";
    display: block;
    background-color: black;
    border: 1px solid;
}
.header__colOne {
    padding: 0 0 0 15px;
    z-index: 2;
}
.header__colTwo {
    text-align: center;
    padding: 0;
}
.header__colThree {
    justify-content: flex-end;
    padding: 0 15px 0 0;
    z-index: 2;
}
/* admin header */
.admin__txt {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.settings__image {
    width: 50px;
    height: 50px;
}
/* admin profile */
.admin__profile {
    background-color:#ffffff;
}
.admin__card {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding: 10px 0px 5px 0px;
}
.accordion_admin_panel {
    background-color: inherit;
    border: none;
    margin: 5px;
    font-size: 28px;
}
.admin__name {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 5px;
}
.admin__img {
    width: 50px;
    height: 50px;
    padding: 0;
    margin-right: 5px;
    border: 1px solid;
    background-color: gray;
}
/* table */
.col-sm-3.table_filter {
    display: inline-block;
}
.thead_info {
    background-color: #f6f6f6;
}
.table_filter_icon {
    width: 18px;
    height: 18px;
    background-color: inherit;
}

/* ulADMIN */
.admin__settings {
    display: flex;
    flex-direction: column;
    color: black;
}
.admin__menu {
    color: black;
    padding: 5px 0;
    font-size: 15px;
}
.admin__menu::after {
    content: "";
    display: block;
    background-color: black;
    border: 1px solid;
    text-decoration: none;
}
.admin__menu:hover {
    color: black;
    text-decoration: none;
}
.admin__menu-txt {
    font-size: 30px;
    font-weight: 500;
    padding-left: 30px;
}
/* media */
@media(max-width: 850px) {
   
    .admin__header {
        font-size: 50px;
    }
    .admin__txt {
        font-size: 35px;
    }
}
@media(max-width: 544px){
    .admin__card {
        justify-content: space-around;
    }
    .admin__header {
        font-size: 35px;
    }
    .admin__txt {
        font-size: 24px;
    }
    .admin__name {
        font-size: 20px;
    }
    .admin__card {
        padding: 3px 0;
    }
}
@media(max-width: 445px) {
    .admin__header {
        font-size: 28px;
    }
    .admin__txt {
        font-size: 18px;
    }
    .admin__name {
        font-size: 15px;
    }
    .accord_admin_panel {
        margin: 0;
    }
    .container-xl.container_admin {
        padding-top: 0;
    }
    .m-0.txt_input {
        display: flex;
        justify-content: center;
    }
    .form-group {
        margin: 0;
    }
}