.beg-name {
    display: flex;
    justify-content: flex-end;
    font-size: calc(24px + 16 * (100vw /1280));
    color: white;
    padding-right: 20px;
}

.beg-wrapper {
    background-color: #41413F;
    height: 100vh;
}


/* hover block */

*, *:before, *:after {
    box-sizing: border-box;
  }

.row {
    display: flex;
    justify-content: center;
}

figure {
    color: #41413F;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

figure span {
    transition: 0.2s;
    transform: translateY(20px);
}

figure p {
    transition: 0.2s;
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
}

figure:before {
    content: '';
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: solid 2px;
    background-color: #41413F;
    transition: 0.2s;
    transform: scaleY(0);
}

.hideText {
    display: flex;
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    opacity: 0;
}

figure:hover:before, 
figure:hover:after{
    transform: scale(1);
}
  
figure:hover .hideText, 
figure:hover p {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.categotyItem {
    width: 80vh;
    margin: 20px;
    height: 161px;
} 

.category-item {
    position: relative;
    height: 200px;
    min-width: 280px;
}

.category-item > figure {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 0;    
}

.commonPhotoStyle {
    height: 180px;
    min-width: 250px;
    width: 100%;
}

/* textHoverBlock */

.commonBlackAndWhiteBlock {
    display: flex;
    flex-direction: column;
}

.upProductText {
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: normal;
    color: white;
    font-size: calc(15px + 4 * (100vw /1280));
    font-weight: 300;
    margin-top: 20px;

}

.priceProductText {
    display: flex;
    justify-content: flex-start;
    font-size: calc(12px + 3 * (100vw /1280));
    color: white;
}

.product-size-beg {
    display: flex;

    justify-content: space-between;
    font-size: calc(12px + 3 * (100vw /1280));
    color: white;
}

.textPhotoPosition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 41%;
    text-align: center;
    width: 100%;
}

/* lineWhite */

