.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caruselText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 40px;
}

.carusel.title {
    color: white;
    font-size: calc(30px + 100 * (100vw / 1920)); 
}

.carusel.text {
    text-align: center;
    color: white;
    font-size: calc(10px + 13 * (100vw / 1920));   
}

