
.secondWraper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #989898;
}

.footerImg {
    flex: 1;
    background: url(../img/Footer/footerImg.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    margin: 30px;
    padding-left: 20px;

}

.rigthPart {
    display: flex;
    flex-direction: column;
    flex: 1;
}


.retangleWithText {
    margin-top: 30px;
    padding-top: 30px;
    padding-left:10px; 
    text-align: center;
    font-size: calc(24px + 16 * (100vw /1280));
    border-radius: 10px;

    background-color: #41413F;
    color: white;
    width: 100%
}

.textRigthPart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 20px;
}

.retangleText {
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 150px;
}

@media (max-width: 767px) {
    .footerImg {
        display: none;
    }
    
    .textRigthPart {
        background: url(../img/Footer/footerImg.png) no-repeat;
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(20px);
    }

    .retangleWithText {
        margin-bottom: 30px;
        font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) /1280));
    }

    .retangleText {
        color: white;
        text-align: center;
        padding: 0;
        font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) /1280));
    }
}