
.firstPhoto {
    background-color: #C4C4C4;
}

.secondPhoto {
    background-color: #C4C4C4;
}

.thirdPhoto {
    background-color: #C4C4C4;
}

.fourPhoto {
    background-color: #C4C4C4;
}

.fivePhoto {
    background-color: #C4C4C4;

}

.sixPhoto {
    background-color: #C4C4C4;
}

.sevenPhoto {
    background-color: #C4C4C4;
}

.eigthPhoto {
    background-color: #C4C4C4;
}

.ninePhoto {
    background-color: #C4C4C4;
}

.tenPhoto {
    background-color: #C4C4C4;
}

.elevenPhoto {
    background-color: #C4C4C4;
}

.twalvePhoto {
    background-color: #C4C4C4;
}

.thirteenPhoto {
    background-color: #C4C4C4;
}

.fourteenPhoto {
    background-color: #C4C4C4;
}

.fifteenPhoto {
    background-color: #C4C4C4;
}

.sixteenPhoto {
    background-color: #C4C4C4;
}

.seventeenPhoto {
    background-color: #C4C4C4;
}

.eighteenPhoto {
    background-color: #C4C4C4;
}

.nineteenPhoto {
    background-color: #C4C4C4;
}

.twentyPhoto {
    background-color: #C4C4C4;
}

.twentyOnePhoto {
    background-color: #C4C4C4;
}

.twentyTwoPhoto {
    background-color: #C4C4C4;
}

.twentyThreePhoto {
    background-color: #C4C4C4;
}

.twentyFourPhoto {
    background-color: #C4C4C4;
}